@media (max-width: 1599px) {
    .section-one {
        padding: 50px;
    }
    .left-img {
        padding: 50px;
    }
    .left-img::before {
        top: 50px;
        bottom: 50px;
        left: 50px;
        right: 50px;
    }
    .left-img h2 {
        bottom: 100px;
        left: 100px;
    }
    .right-content {
        padding: 50px;
    }
}
@media (max-width: 1511px) {
    .round.round1 {
        margin-bottom: -33px;
    }
    .Certificates-grid-main img {
        max-width: 270px;
        height: 200px;
        width: 100%;
        object-fit: cover;
    }
}
@media (max-width: 1499px) {
    .Certificates-grid-main h3 {
        font-size: 28px;
        line-height: 35px;
        max-width: 180px;
    }
    .right-content {
        padding: 50px 30px;
    }
    .left-img h2 {
        font-size: 70px;
        line-height: 90px;
    }
    .sub-text-sec {
        font-size: 30px;
        line-height: 45px;
    }
    .testimonial-main {
        margin-bottom: 40px;
    }
    .testimonial-main .sub-text-sec {
        width: 100%;
        max-width: 100%;
    }
    .asdas {
        position: absolute;
        bottom: 170px;
        left: 0;
    }
    .client-images-gp {
        gap: 10px;
    }
    .blog-title {
        font-size: 20px;
        line-height: 30px;
    }
    .round-main {
        flex-wrap: wrap;
    }
    .round {
        width: 230px;
        height: 230px;
        gap: 10px;
    }
    .round h2 {
        font-size: 50px;
    }
}
@media (max-width: 1299px) {
    .horizontal-wrapper {
        width: calc(100vw - 300px);
    }
    .left-img {
        min-height: 330px;
    }
    .left-img h2 {
        bottom: 90px;
        left: 90px;
    }
    .section-one {
        padding: 80px 50px 50px 50px;
    }
    .right-content {
        padding: 30px;
        max-width: 850px;
        margin: 0 auto;
    }
    .preci {
        padding: 30px 0 30px 0;
    }
    .project-card-row {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
    .project-card h3 {
        font-size: 20px;
        line-height: 30px;
    }
    .right-fix-about {
        display: none;
    }
    .theme-toggle {
        right: 20px;
    }
}
@media (max-width: 1199px) {
    .left-img {
        padding: 40px;
    }
    .left-img::before {
        top: 40px;
        bottom: 40px;
        left: 40px;
        right: 40px;
    }
    .section-one {
        padding: 80px 40px 40px 40px;
    }
}
@media (max-width: 991px) {
    .hamburger {
        display: flex;
    }
    .sidebar-menu-main {
        transform: translateX(-100%);
        transition: 0.4s ease;
    }
    .sidebar-menu-main.active {
        transform: translateX(0);
    }
    .sub-text-sec {
        font-size: 28px;
        line-height: 40px;
    }
    .horizontal-wrapper {
        left: 0;
        width: 100%;
    }
    .section-one {
        max-width: 100%;
        min-height: 100vh !important;
    }
    .sec-one-btns {
        gap: 30px;
        flex-direction: column;
        align-items: flex-start;
    }
    .left-img {
        width: 100%;
        min-height: 300px;
        background-position: top center;
        display: flex;
        align-items: center;
        background-attachment: fixed;
    }
    .left-img::before {
        display: none;
    }
    .left-img h2 {
        position: unset;
        text-align: center;
        max-width: 100%;
        width: 100%;
    }
    .right-content {
        padding: 50px 40px;
        width: 100%;
    }
    .round-main {
        flex-direction: row;
        align-content: center;
        gap: 0;
    }
    .round {
        width: 240px;
        height: 240px;
        gap: 10px;
    }
    .round h2 {
        font-size: 55px;
    }
    .round.round2 {
        margin-top: 0;
        margin-left: -30px;
    }
    .round.round1 {
        margin-bottom: 0;
        margin-right: -30px;
    }
    .client-images-gp {
        flex-wrap: wrap;
    }
    .group-split-main {
        flex-wrap: nowrap;
    }
    .main-box-contact {
        grid-template-columns: repeat(2, 1fr);
    }
    .map-iframe {
        margin: 40px 0 40px 0;
    }
    .theme-toggle {
        right: 15px;
        bottom: 15px;
        width: 50px;
        height: 50px;
    }
    .educ-box-slills {
        flex-wrap: nowrap;
    }
    .dots {
        gap: 15px;
    }
    .skills-section {
        width: auto;
    }
}
@media (max-width: 799px) {
    .educ-box-slills {
        flex-wrap: wrap;
    }
    .skills-section {
        width: 100%;
    }
    .dots {
        gap: 30px;
        width: 100%;
    }
}
@media (max-width: 767px) {
    .sub-text-sec {
        font-size: 28px;
        line-height: 40px;
        text-align: center;
    }
    .usiness {
        padding: 20px 0 30px;
    }
    .helpstext {
        font-size: 18px;
        line-height: 30px;
        text-align: center;
    }
    .left-img h2 {
        font-size: 60px;
        line-height: 80px;
    }
    .Certificates-grid-main {
        flex-direction: column;
        padding: 20px 0;
        gap: 15px;
    }
    .Certificates-grid-main h3 {
        font-size: 28px;
        line-height: 38px;
        max-width: 100%;
        width: 100%;
    }
    .service-list li {
        padding-bottom: 0;
    }
    .Certificates-grid-main img {
        max-width: 100%;
        height: 300px;
    }
    .service-list {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        gap: 12px;
    }
    .testimonial-main {
        flex-wrap: wrap;
        justify-content: center;
    }
    .contain-body {
        padding: 60px 20px 20px;
    }
    .project-heding {
        font-size: 28px;
        line-height: 38px;
        padding: 25px 0 10px 0;
    }
    .project-deatil-box {
        margin: 30px 0;
    }
    .expe-main,
    .rispu {
        text-align: left;
    }
    .exper-env {
        justify-content: flex-end;
        flex-direction: row-reverse;
    }
    .content-popUpimg-mian {
        margin: 30px 0;
    }
    .conclusion {
        padding-top: 25px;
    }
    .mattis {
        padding-top: 10px;
    }
    .prv-next-main {
        margin: 30px 0 20px;
    }
    .project-deatil-box-sub h3 {
        font-size: 20px;
        line-height: 30px;
    }
    .project-deatil-box-sub {
        padding: 15px;
    }
    .rating-box {
        padding: 18px 20px;
    }
    .rating-diti {
        font-size: 45px;
        line-height: 45px;
    }
    .group-split-main {
        flex-wrap: wrap;
        margin-top: 25px;
    }
    .skilsss {
        margin-top: 25px;
    }
    .skill-bars {
        margin: 20px 0 30px 0;
    }
    .educ-box-slills {
        margin-bottom: 30px;
    }
    .adewd {
        font-size: 30px;
        line-height: 40px;
        padding-bottom: 10px;
    }
    #box {
        gap: 15px;
    }
    #box div {
        font-size: 35px;
    }
}
@media (max-width: 740px) {
    .round.round1 {
        margin-bottom: 0;
        margin-right: 0;
    }
    .round.round2 {
        margin-top: -33px;
        margin-left: 0;
    }
    .tag-list-medi-list-main {
        flex-wrap: wrap;
    }
    .main-box-contact {
        grid-template-columns: repeat(1, 1fr);
    }
    .plan-boxes-miannn {
        flex-wrap: wrap;
        gap: 0;
    }
    .plan-box {
        margin: 20px auto 0 auto;
    }
}
@media (max-width: 575px) {
    .section-one {
        padding: 80px 12px 40px 12px;
        background: #141C27;
    }
    .profile-img2-main {
        display: block;
    }
    .sec-one-containe {
        max-width: 100%;
    }
    .title-small {
        font-size: 22px;
        line-height: 32px;
        padding-bottom: 8px;
        text-align: center;
    }
    .head-text {
        font-size: 60px;
        line-height: 80px;
        text-align: center;
    }
    .web-sub-text {
        font-size: 16px;
    }
    .preci {
        padding: 25px 0 25px 0;
        text-align: center;
    }
    .sec-one-btns {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .profile-img2-main {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;
    }
    .profile-img2-main img {
        border-radius: 50%;
        border-radius: 50%;
        border: 4px solid #FF5730;
        animation: floatImg 4s ease-in-out infinite;
    }
    .left-img {
        min-height: 250px;
    }
    .left-img h2 {
        font-size: 50px;
        line-height: 65px;
    }
    .round-main {
        flex-direction: column;
    }
    .round.round1 {
        margin-bottom: -30px;
        margin-right: 0;
    }
    .sub-text-sec {
        font-size: 23px;
        line-height: 35px;
    }
    .right-content {
        padding: 40px 12px;
    }
    .project-card-row {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }
    .content-popUpimg-mian,
    .content-blog {
        grid-template-columns: repeat(1, 1fr);
    }
    .testimonial-main {
        flex-wrap: wrap;
    }
    .project-deatil-box-sub {
        flex-wrap: wrap;
        gap: 20px;
    }
    .testimonial-text {
        font-size: 18px;
        line-height: 28px;
    }
    .slider-line {
        margin-top: 20px;
    }
    .img-client-name {
        margin: 20px 0 30px;
    }
    .asdas {
        display: none;
    }
    .interests-box-main {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .masonry-grid {
        column-count: 1;
        column-gap: 20px;
        max-width: 330px;
        margin: 0 auto;
    }
    .blog-card-main {
        margin-bottom: 30px;
    }
    .blog-card-img {
        border-radius: 20px;
    }
    .blogPopUpimg {
        margin: 30px 0;
    }
    .form-row {
        display: flex;
        gap: 0px;
        margin-top: 30px;
        flex-wrap: wrap;
    }
    #box {
        gap: 10px;
    }
    #box div {
        font-size: 32px;
    }
    .dots {
        gap: 15px;
    }
}
@media (max-width: 375px) {
    .head-text {
        font-size: 50px;
        line-height: 65px;
    }
    #progress {
        justify-content: center;
    }
    .dots {
        gap: 10px;
    }
}